portfolio.exemple.com {
    tls internal
    root * portfolio
    file_server
    reverse_proxy / http://localhost:80
    reverse_proxy / https://localhost:443
}

todo.exemple.com {
    tls internal
    root * todo
    file_server
    encode gzip
    reverse_proxy / http://localhost:4000
    reverse_proxy / https://localhost:4000

    @pagination {
        path_regexp pagination /tasks/(\d+)
    }

    rewrite @pagination /tasks?page={re.pagination.1}
}